<div class="nav">
<!-- Open Sidebar Button -->
 <div class="row in-side-nav">
<button id="openSidebar" class="open-btn "><i class="fa-solid fa-bars"></i></button>

</div>
<!-- Sidebar -->
<div id="sidebar" class="sidebar">
  <button id="closeSidebar" class="close-btn">&times;</button>
  <form action="/invoice" method="get">
    <div class="">
       <button type="submit" class="btn btn-primary add_invoiceb">+ Make Invoice</button>
    </div>
  </form> 
  <!-- <h4>Kumar Gruh Udhyog</h4> -->
  <ul>
    <li><a href="/home"><i class="fas fa-home"></i>Home</a></li>
    <li><a href="/customer"><i class="fas fa-user"></i>Customer</a></li>
    <li><a href="/parties"><i class="fas fa-address-card"></i>Parties</a></li>
    <li><a href="/item"><i class="fas fa-box"></i>Item</a></li>
    <li><a href="/parties/purchase"><i class="fas fa-box"></i>purchase</a></li>
    <li><a href="/parties/party_payment"><i class="fas fa-box"></i>payment</a></li>
</ul> 
</div>
</div>