<% layout('/layout/boilerplate.ejs') -%>

<body>
    <div class="row boxrow">
        <form action="/parties/add" method="get">
            <div class="addButton" >
               <button type="submit" class="btn btn-primary add_customerb fix ">+ Add Parties</button>
           </div>
       </form> 
        <%for(let datas of data){%>
        <a href="/parties/<%=datas._id%>" method="post" class="boxa"> <div class="col-lg-8 offset-lg-2 box border border-black text-bg-light p-3" >
            <div class="row ">
                <h4 class="col " ><%=datas.party_name%></h4>
                <h5 class="col totalpay">₹<%= datas.payment %> </h5>
            </div>
            <div >
                <p class="boxp" >party </p>
            </div>
        </a>
        </div>
        <%}%>
    </div>
    
</body>
