<% layout('/layout/boilerplate.ejs') -%>

<body>
    <div class="row boxrow">
        <%for(let datas of data){%>
        <a href="/customer/<%=datas._id%>" method="post" class="boxa"> <div class="col-lg-8 offset-lg-2 box border border-black text-bg-light p-3" >
            <div class="row ">
                <h4 class="col " ><%=datas.customer_name%></h4>
                <h5 class="col totalpay">₹ <%=datas.payment%></h5>
            </div>
            <div >
                <p class="boxp" >Customer </p>
            </div>
        </a>
        </div>
        <%}%>
    </div> 
    <form action="/customer/add" method="get">
         <div class="position-absolute top-100 start-50 translate-middle addButton" >
            <button type="submit" class="btn btn-primary add_customerb">+ Add Customer</button>
        </div>
    </form> 
</body>
