<% layout('/layout/boilerplate.ejs') -%>

<h3>Danev son bill :  </h3>

<form action="/danev_son_mathiya_bill" method="post">
    <div class="row">
        <div class="col-8 offset-2">

            <div class="mb-3">
                <label for="Item" class="from-label">Bill Number </label>
                <input type="number"  name="data[bill_number]" value="<%= nom %>" class="form-control" required> 
            </div>
            <div class="mb-3">
                <label for="Item" class="from-label">Date </label>
                <input type="date"  name="data[date]" value="2024-10-01" class="form-control" required> 
            </div>
            <div class="row mb-3">
                <div class="mb-3 col-md-4">
                    <label for="Item" class="from-label">Amount </label>
                    <input type="number"  name="data[amount]" placeholder="Enter Amount" class="form-control" required> 
                </div>
                <div class="mb-3 col-md-8">
                    <label for="Item" class="from-label">Add Amount </label>
                    <input type="number"  name="data[add]" value="0" placeholder="Enter Add Amount" class="form-control" required> 
                </div>
            </div>
            <button class="btn btn-primary" >submit</button><br>
        </div>
    </div>
</form>